body {
  background-color: #282c34;
  color: #61dafb;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #61dafb
}

button {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  padding: 25px;
  font-size: x-large;
  background-color: #61dafb;
  color: #ffffff;
  border-radius: 25px;
}

#contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

#resume {
  display: flex;
  flex-direction: column;
}