body {
  background-color: #282c34;
  color: #61dafb;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #61dafb
}

button {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  padding: 25px;
  font-size: x-large;
  background-color: #61dafb;
  color: #ffffff;
}

#contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

#resume {
  display: flex;
  flex-direction: column;
}

.info {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #ffffff;
  color: #000000;
  padding: 25px;
}

.title {
  color: #000000;
  font-size: x-large;
}

.subtitle {
  font-size: large;
  padding: 5px 45px;
}

.description {
  text-indent: 0px;
  margin-left: 25px;
  margin-right: 5px;
}

@media screen and (max-width: 450px) {
  #contactInfo {
    margin-left: 50px;
    margin-right: 50px;
  }

  button {
    margin-left: 50px;
    margin-right: 50px;
  }

  .info {
    margin-left: 50px;
    margin-right: 50px;
  }

  .title {
    font-size: large;
  }

  .subtitle {
    font-size: medium;
    padding: 5px 25px;
  }

  .description {
    font-size: small;
    margin-left: 5px;
  }
}

@media screen and (max-width: 350px) {
  .subtitle {
    padding: 5px 15px;
  }

  .description {
    margin: 0px;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: medium;
  }
  
  .subtitle {
    font-size: small;
    padding: 5px 10px;
  }

  .description {
    font-size: x-small;
  }
}